:root {
    --primary-color: #EDE3D7; 
    --accent-color: #382913;
    --main-fc: #382913;
    --highlight: #A9707C;
}
#web-dev {
    color: var(--highlight) !important;
}
header {
    background-color: var(--primary-color) !important;
}
 
#icon {
    color: var(--highlight) !important;
}
#pill {
    background-color: var(--highlight);
    color: var(--main-fc);
    transition: 0.3sec ease;S
}
#pill:hover {
    transform: scale(1.2) rotate(5deg);
}

.btn {
    background-color: var(--accent-color);
    color: var(--primary-color);
    transition: 0.3sec ease;
}

.btn:hover {
    color: var(--highlight);
    transform: scale(1.2);
}