:root {
    --primary-color: #EDE3D7; 
    --accent-color: #382913;
    --main-fc: #382913;
    --highligh: #A9707C;
}
#web-dev {
    color: var(--highligh) !important;
}
header {
    background-color: var(--primary-color) !important;
}
 
header a {
    background-color: var(--accent-color) !important;
    border: #A9707C !important;
}
header a:hover {
    color: var(--highligh) !important;
}